@import "tailwindcss";

@theme {
  --color-navLink_button: #475467;
  /*dark grey*/
  --color-tBlue: #3927CE;
  /* text primary */
  --color-text-primary: #0F172A;
  /*dark blue*/
  --color-heroBg: #F4F3FC;
  /*primary blue*/
  --color-hpink: #EBE9FA;
  /*border light pink*/
  --color-lightgray: #EAECF0;
  /*light gray*/
  --color-midgray: #667085;
  /*medium gray*/
  --color-deepgray: #5D5C5D;
  /*deep gray*/
  --color-supergray: #101828;
  /*BORDER secondary*/
  --color-border-secondary: #E2E8F0;
  /*BORDER brand solid*/
  --color-border-brand-solid: #FFA570;

  /* new theme color */

  --color-pp: #671E5A;
  /* primary pink*/
  --color-light-pp: #C445A6;
  /* light pink */
  --color-ps: #252150;
  /* secondary pink*/
  --color-card-pp: #3B1E67;
  /* card dark pink */
}



body {
  width: 100%;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  /* overflow-x: hidden; */

}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  /* color: var(--color-supergray); */
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
}

h2 {
  /* color: var(--color-supergray); */
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
}

h3 {
  /* color: var(--color-supergray); */
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
}

h4 {
  /* color: var(--color-supergray); */
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.btn_default {
  @apply bg-tBlue text-white font-bold px-6 py-3 rounded-full;
}

.btn_default_ring {
  @apply ring-1 ring-white font-semibold;
}

.btn_invert {
  @apply bg-white text-tBlue font-bold px-6 py-3 rounded-full;
}

.btn_transparent {
  @apply bg-transparent text-tBlue ring-2 ring-tBlue font-bold px-6 py-3 rounded-full;
}

.btn_transparent_inv {
  @apply bg-transparent text-white ring-2 ring-white font-bold px-6 py-3 rounded-full;
}